/*CHAT*/

.body--chat {
  background-color: var(--color-fondo--chat);
}
.nav--chat {
  display: flex;
  flex-direction: column;
  background-color: var(--color-fondoNavBar--chat);

  text-align: center;
  justify-content: space-between;
}

.logo--chat {
  width: 60px;
  padding: 1rem;
  filter: brightness(0) invert(1);
  cursor: pointer;
}
.container--chat {
  text-align: center;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template:
    "nav main"
    "nav footer" 2rem/
    6rem;

  .nav--chat {
    grid-area: nav;
    
  }
  
  .main--chat {
    grid-area: main;
    text-align: center;
    width: 100%;
    
    max-height: 650px;
    overflow-y: auto; 

    
  }
  .footer--chat {
    grid-area: footer;
    text-align: center;
  }
}

.preguntas {
  border-radius: 25px;
  background-color: var(--color-fondoPreguntas--chat);

  padding: 1rem;
  margin: 2rem;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);

  z-index: 100;
  width: 60%;
}
textarea {
  width: 100%;
   background: rgba(247, 247, 248, 0); /* Fondo casi transparente */
    border: 1px solid rgba(32, 33, 35, 0); /* Borde muy sutil */
    color: #fff;
}
.btn__box {
  display: flex;
  justify-content: space-between;
}

.footer--chat p {
  color: var(--color-texto--chat);
}
h1 {
  color: var(--color-texto--chat);
}
.respuestas__container {
  text-align: center;  
  
  
  padding: 1rem;
}
.respuestas {
  text-align: center;
  margin: auto;
  max-width: 60%;
}
.respuestas p {
  text-align: left;
  color: var(--color-texto--chat);
}

.btn__new-chat {
  
  padding: 1rem;
  margin: 2rem 0;
  
  
}

.new-chat__link {
  background-color: #3460db;
  text-align: center;
  color: #fff;
  padding: 1rem;
  border-radius: 20px; 
  cursor: pointer;
}
