

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  width: 8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header__right {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}
.header__right p {
  color: var(--color-secundario);
}

.main {
  background: linear-gradient(to bottom, #ffffff 0%, #d4f1f9 80%, #87ceeb 100%);
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column; /* Apila elementos verticalmente */
  justify-content: center; /* Centra verticalmente */
  min-height: 100vh; /* Ocupa toda la altura de la pantalla */
}

.main__title-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 200px;
}
.main__container {
  padding: 1rem;
}
.main__tittle {
  font-size: 5rem;
  line-height: 6rem;
  color: var(--color-primario);
}
.main__title-2 {
  font-size: 1.5rem;
  color: var(--color-secundario);
}
.section-cards {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
.section-cards h2 {
  color: var(--color-primario);
  font-weight: bold;
}
.subrayado {
  text-decoration: underline;
}
.card {
  background-color: var(--color-fondo);
  color: var(--color-texto);
  border-radius: 10px;
  width: 90%;
  padding: 1rem;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* (horizontal, vertical, desenfoque, color) */
}

/*QR
  marco con relative
  engancho con absolute
  
  visibilidad 1.- hiden
              2.- visible al hacer hover sobre la carta mostrar qr

*/
.card--qr {
  position: relative;
}

.card--qr__container {
  position: absolute;
  bottom: calc(100% + 10px);
  right: 3rem;
  background: white;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: var(--color-sombra);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  z-index: 100;
  text-align: center;
}
.card--qr__container p {
  color: var(--color-secundario);
}
.card--qr:hover .card--qr__container {
  opacity: 1;
  visibility: visible;
}

.footer {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1024px;
}

.footer__credits {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 1rem;
  gap: 1rem;
}
.footer__credits-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 1rem;
}

.version-span {
  color: var(--color-secundario);
  font-weight: bold;
}
.footer__redes {
  display: flex;
  max-width: 12rem;
  justify-content: space-between;
}

.redes__icons {
  width: 1.5rem;
}
